body {
  margin: 0px;
  background-color: white; }

#ToneNoTone {
  position: absolute;
  top: 16px;
  right: 16px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400; }

#Echo {
  padding-top: 30px; }
  @media (max-width: 460px) {
    #Echo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 320px;
      height: 400px;
      margin-top: -200px;
      margin-left: -160px; } }
  @media (min-width: 461px) {
    #Echo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 460px;
      height: 400px;
      margin-top: -200px;
      margin-left: -230px; } }

#Echo #Description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

#Echo #Play {
  margin-top: 10px;
  width: 280px;
  height: 300px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-align: center;
  background: url("./images/echoLogo.png");
  background-size: 280px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: visible; }
  @media (max-width: 460px) {
    #Echo #Play {
      margin-left: 20px; } }
  @media (min-width: 461px) {
    #Echo #Play {
      margin-left: 90px; } }

#Echo #Play a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#Echo #Play:after {
  content: "play now!";
  line-height: 520px;
  font-weight: 400;
  font-size: 12px;
  color: #02acee;
  width: 100%;
  text-align: center; }

#Echo #Play:hover {
  background: none; }

#Echo #Play:hover:after {
  content: "PLAY";
  font-size: 96px;
  font-weight: 100;
  color: black;
  line-height: 246px;
  letter-spacing: 20px; }

#Echo #Play:active:after {
  color: white; }

#AppStore {
  z-index: 10000;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 85px;
  background: url("./images/appStore.svg");
  background-size: 100% 100%;
  opacity: 1;
  transition: opacity .5s;
  -webkit-transition: opacity .5s; }
  @media (min-device-height: 569px) {
    #AppStore {
      width: 135px;
      height: 38px; } }

#AppStore.invisible {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
  -webkit-transition: opacity .5s; }

body {
  margin: 0px;
  height: 100%; }

#Game {
  background: url("./images/splash.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 320px;
  left: 50%;
  margin-left: -160px;
  position: absolute;
  z-index: 2; }
  @media (max-device-height: 479px) {
    #Game {
      top: 0px;
      height: 440px; } }
  @media (min-device-height: 480px) and (max-device-height: 567px) {
    #Game {
      top: 0px;
      height: 440px; } }
  @media (device-height: 568px) {
    #Game {
      top: 0px;
      height: 518px; } }
  @media (min-device-height: 569px) {
    #Game {
      top: 50%;
      margin-top: -284px;
      height: 568px; } }

#Game iframe {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 5px; }

#BackgroundCenter {
  background: url("./images/splash.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 1; }
  @media (max-device-height: 479px) {
    #BackgroundCenter {
      top: 0px;
      height: 440px; } }
  @media (min-device-height: 480px) and (max-device-height: 567px) {
    #BackgroundCenter {
      top: 0px;
      height: 440px; } }
  @media (device-height: 568px) {
    #BackgroundCenter {
      top: 0px;
      height: 518px; } }
  @media (min-device-height: 569px) {
    #BackgroundCenter {
      top: 50%;
      margin-top: -284px;
      height: 568px; } }

#BackgroundTop {
  background-color: #fcf201;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 50%;
  z-index: 0; }

#BackgroundBottom {
  background-color: #01aeee;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50%;
  z-index: 0; }

#ScrollGrab {
  display: none;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 200px;
  text-align: center;
  width: 100%;
  height: 200px;
  top: 50%;
  margin-top: -100px;
  background-color: black;
  color: white;
  z-index: 10000;
  /* should be bigger than everything else */
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

#Alpha {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  color: #212122;
  width: 100%;
  height: 18px;
  bottom: 6px;
  visibility: hidden; }
  @media (min-device-height: 569px) {
    #Alpha {
      visibility: visible; } }

#Alpha #GameName {
  color: #fffffd; }

#Alpha a {
  text-decoration: none;
  color: #605ec2; }

#Alpha a:hover {
  text-decoration: none;
  color: #f46e1e; }

#Share {
  text-align: right;
  color: #212122;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 0;
  visibility: hidden; }
  @media (min-device-height: 569px) {
    #Share {
      visibility: visible;
      z-index: 3; } }

#Share a {
  color: #212122;
  font-size: 30px; }

#Share a:hover {
  color: #fffffd;
  font-size: 30px; }
