@import "home";

body {
	margin: 0px;
	height: 100%;
}

$GameWidth : 320px;

@mixin GamePosition {
	position: absolute;
	@include respond-to-web(small) {
		top: 0px;
		height: $iphone4HeightWeb;
	}
	@include respond-to-web(iphone4){
		top: 0px;
		height: $iphone4HeightWeb;
	}
	@include respond-to-web(iphone5){
		top: 0px;
		height: $iphone5HeightWeb;
	}
	@include respond-to-web(full){
		top: 50%;
		margin-top: -$iphone5Height / 2;
		height: $iphone5Height;
	}
}


#Game {
	background: url("./images/splash.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: $GameWidth;
	left: 50%;
	margin-left: -$GameWidth / 2;
	@include GamePosition;
	z-index: 2;
}

#Game iframe {
	width: 100%;
	height: 100%;
	border : 0px;
	border-radius: 5px;
}

#BackgroundCenter {
	background: url("./images/splash.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	@include GamePosition;
	width: 100%;
	left: 0px;
	z-index: 1;
}

#BackgroundTop {
	background-color: rgb(252, 242, 1);
	width: 100%;
	position: absolute;
	top:0px;
	height: 50%;
	z-index: 0;
}

#BackgroundBottom {
	background-color: rgb(1, 174, 238);
	width: 100%;
	position: absolute;
	bottom:0px;
	height: 50%;
	z-index: 0;
}

#ScrollGrab {
	display: none;
	font-family: $font-family;
	font-size: 24px;
	line-height: 200px;
	text-align: center;
	width: 100%;
	height: 200px;
	top: 50%;
	margin-top: -100px;
	background-color: black;
	color: white;
	z-index: 10000; /* should be bigger than everything else */
	position: fixed;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#Alpha {
	position: absolute;
	font-family: $font-family;
	font-size: 14px;
	line-height: 10px;
	text-align: center;
	color: $black;
	width: 100%;
	height: 18px;
	bottom: 6px;
	visibility: hidden;
	@include respond-to-web(full){
		visibility: visible;
	}
}

#Alpha #GameName {
	color: $white;
}

#Alpha a {
	text-decoration: none;
	color: $purple;
}

#Alpha a:hover {
	text-decoration: none;
	color: $yellow;
}

#Share {
	text-align: right;
	color: $black;
	width: 200px;
	height: 100px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 0;
	visibility: hidden;
	@include respond-to-web(full){
		visibility: visible;
		z-index: 3;
	}
}

#Share a{
	color: $black;
	font-size: 30px;
}

#Share a:hover{
	color: $white;
	font-size: 30px;
}

