#Container {
  position: relative;
  max-width: 900px;
  margin: 50px auto 100px auto;
  width: 90%;
  font-family: "Lato", sans-serif; }

.Question {
  width: 100%;
  font-family: "Lato", sans-serif;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700; }

.Answer {
  width: 95%;
  margin: 10px auto 50px auto;
  line-height: 40px;
  font-size: 24px;
  font-weight: 400; }

.Answer a {
  line-height: 40px;
  display: inline;
  font-size: 24px;
  font-weight: 700; }

.Answer #LevelFive {
  position: relative;
  margin: 5px auto 5px auto;
  display: block;
  width: 200px;
  height: auto; }

#Links {
  position: relative;
  margin: 5px auto 20px auto;
  padding: 15px;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: inherit; }

#Links a {
  margin-bottom: 10px; }

a {
  width: 100%;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  display: block; }
